#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  height: 250px;
  margin: 0 100px;
  align-items: center;
}

.photographer__info {
  display: flex;
  flex-direction: column;
  justify-content: left ;
  margin-left: 4em;
}

.photographer__h1 {
  color: #D3573C;
  font-size: 48px;
  margin-bottom: 0.25em;
}

.photographer__local {
  color: #901C1C;
  height: 5px;
  margin-top: 0px;
  font-weight: 500;
  font-size: larger;
}

.photographer__tagline {
  color: #525252;
}

.contact_button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 140px;
  height: 50px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.photographer__portrait {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: #C4C4C4;
  box-shadow: 0px 4px 12px
  rgba(0, 0, 0, 25);
  margin-right: 4em;
}

.selectOption__label {
  margin-right: 1em;
  font-size: large;
  font-weight: bold;
}


.photographer__selectOption {
  display: flex;
  margin: 2em 7em 2em;
  align-items: center;
}

.photographer__selectOption--wraper {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 130px;
  height: 50px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.photographer__portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 40px 2%;
  width: 100%;
}

.photographer__portfolio--media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 33.33%;
  min-width: 380px;
  min-height: 370px;
  margin-bottom: 10px;
  position: relative;
}

.photographer__portfolio--media--content {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.photographer__portfolio--media--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  max-width: 350px;
  height: 70px;
  line-height: 2.25em;
  color: #901c1c;
  padding: 3px;
  box-sizing: border-box;
  font-weight: 400;
}

.photographer__portfolio--media--info--title {
  font-size: 1.5em;
  width: 270px;
  margin: 0 10px 0 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.photographer__portfolio--media--info--like {
  display: flex;
  box-sizing: border-box;
  width: 70px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.photographer__portfolio--media--info--like--count {
  font-weight: 500;
  font-size: 1.5em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.photographer__portfolio--media--info--like--heart {
  font-weight: 400;
  box-sizing: border-box;
  width: 33px;
  font-size: 1.25em;
  margin: 0;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.formData span {
  color: #e00404;
  font-size: 20px;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

textarea {
  line-height: 1.5;
  margin: 0;
  font-size: 20px;
  border-radius: 10px;
  resize: none;
  height: 200%;
  width: 101%;
  font-family: inherit;
}